<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a onlyflans</title>
    {% include "includes/scripts.html" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body style="background-color: #eeefff;">
    <div class="container">
        {% block 'header' %}
        {% include "includes/header.html" %}
        {% endblock 'header' %} 
    </div>

    <div class="container">
        {% block 'navbar' %}
        {% include "includes/navbar.html" %}
        {% endblock 'navbar' %}
    </div>

    <div class="container">
        {% block 'contect' %}
        <div>
            Contenido de la pagina base
        </div>
        {% endblock 'contect' %}
    </div>

    <div class="container">
        {% block 'footer' %}
        {% include "includes/footer.html" %}
        {% endblock 'footer' %}
    </div>

</body>

</html>