{% extends 'includes/base.html' %}
{% block 'contect' %}


<div class="container">
    <br>
    {% if favorites.exists %}  <!-- Verifica si hay favoritos -->
        <div class="row">
            {% for favorite in favorites %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="{{ favorite.flan.image }}" alt="{{ favorite.flan.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ favorite.flan.name }}</h5>
                            <p class="card-text">{{ favorite.flan.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'flan_detail' favorite.flan.id %}" class="btn btn-sm btn-outline-secondary">Ver Más</a>
                                    <a href="{% url 'remove_from_favorites' favorite.flan.id %}" class="btn btn-sm btn-outline-danger">Eliminar de Favoritos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No tienes favoritos añadidos aún.</p>  <!-- Mensaje cuando no hay favoritos -->
    {% endif %}


    {% endblock 'contect' %}